/*Reset Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #EEEFE9;
}
/*Styling af navbar */
header {
    position: fixed;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    background: #244436;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}



header .logo img {
    height: 300px;
    margin-top: 55px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
    
}

header .navbar ul li a {
    color: #EEEFE9;
    font-size: 25px;
    padding: 20px;
    display: block;
}

header .navbar ul li a:hover {
    background: #EEEFE9;
    color: #244436;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #244436;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none
}

header label {
    cursor: pointer;
    color: #EEEFE9;
    display: none;
}


footer {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #244436;
}

footer .footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px
}

footer .about {
position: relative;
color: #EEEFE9;


}

/*Media queries*/
@media (max-width:991px) {

    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #244436;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;

    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}